*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(20% 0% 10% 20% #46492e),url("./image/1.jpg");
}

.nav-bar{
    background-color: rgb(92, 92, 177);
    padding: 30px;
}
.bar-ul{
    text-align: center;
}

li{
    display: inline;
    margin:40px;
}

.anker{
    text-decoration: none;
    color: white;
    font-size: 45px;
    font-weight: bolder;
}

.anker:hover{
    color: #e1ff5d;
    border: 2px solid #000;
    border-radius: 20px 10px 30px 20px;
    padding: 5px;
    background-color: #000;
}
.heading-1{
    text-align: center;
    margin-top: 40px;
    font-family: 'Luckiest Guy', cursive;
    color: #428574;
    font-size: 70px;
}
.heading-1::first-letter{
    color: #b7d435;
    font-size: 120px;
}

.para::first-line{
    color: #a52a2a;
}

.para{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bold;
    color: teal;
}


.heading-2{
    text-align: center;
    margin-top: 40px;
    font-family: 'Pacifico', cursive;
    color: #c2b151;
    font-size: 70px;
}
.heading-2::first-letter{
    color: #ffb969;
    font-size: 120px;
}


.heading-3{
    text-align: center;
    margin-top: 40px;
    font-family: 'Satisfy', cursive;
    color: #587514;
    font-size: 70px;
}
.heading-3::first-letter{
    color: #6cfcfc;
    font-size: 120px;
}

.heading-4{
    text-align: center;
    margin-top: 40px;
    font-family: 'Pacifico', cursive;
    color: #f847a0;
    font-size: 70px;
}
.heading-4::first-letter{
    color: #a786f3;
    font-size: 120px;
}


.heading-5{
    text-align: center;
    margin-top: 40px;
    font-family: 'Great Vibes', cursive;
    color: #f847a0;
    font-size: 70px;
}
.heading-5::first-letter{
    color: #a786f3;
    font-size: 120px;
    font-weight: 3000px;
}